<div class="movecard__div_item">
    <img src="{{item.image}}" alt="movie logo" title="movie logo"/>
    <div class="movecard__div_infobox">
        <p class="movecard__p_movielabel">{{item.label}}</p>
        <p class="description_status">{{hidderstatus === true ? fullDescription : shortDescription}}</p>
        <a class="description_status_a" *ngIf="!hidderstatus" (click)="handleShowHide($event,true)" href="#show_all"><i class="material-icons">keyboard_arrow_down</i><span>show description</span></a>
        <a class="description_status_a" *ngIf="hidderstatus" (click)="handleShowHide($event,false)" href="#show_all"><i class="material-icons">keyboard_arrow_up</i><span>hide description</span></a>
        <div class="moviecard_div_controlsbox">
            <app-btn class="moviecard_btn_button" (click)="handleClick()" icon='play_circle_outline'  btntitle='Trailer'></app-btn>
            <app-btn class="moviecard_btn_button" icon='check_circle_outline' hoverBackground="#5A9216" background="#7CB342" btntitle='Subscribe: {{item.price}}$'></app-btn>
        </div>
    </div>
</div>
<app-movecardmodal *ngIf="fullWidjet" (modalEvent) = "handleWidjet($event)" [modalItem]="item" ></app-movecardmodal>