/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.app__component_container{
    min-height: 100vh;
    background: #E1E2E1;
}

.app_component_navigationcontainer{
    min-height: 100vh;
    background: #4527A0;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.38);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_component_box{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:3px;
    height:0px;
    cursor: pointer !important;
    }

    ::-webkit-scrollbar-track {
    box-shadow:0px 0px 3px #000 inset;
    }

    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#140078;
    cursor: pointer !important;
    box-shadow:0px 1px 1px #fff inset;
    background-position:center;
    background-repeat:no-repeat;
    }

    ::-webkit-resizer{
    background-repeat:no-repeat;
    width:7px;
    height:0;
    cursor: pointer !important;
    }
    ::-webkit-scrollbar{
    width: 3px;
    cursor: pointer !important;
    }

app-root, app-main, app-content, app-moviecard, app-hirelist, app-preloader-small, app-movecardmodal {
  display: block;
}
app-preloader-small {
  width: 100%;
}
app-content {
  height: calc( 100vh - 50px );
  overflow-y: auto;
}
app-searchfld {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-mrow {
  box-sizing: border-box;
  vertical-align: middle;
  display: table-row;
  border-color: inherit;
}
app-table {
  display: block;
  width: 100% !important;
  height: max-content !important;
  padding: 10px 0 !important;
}
