.content_component_wgcontainer{
    width: 100%;
    height: 55px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content__component_controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom__btn:first-child{
    margin-right: 1.5px;
}
.app__heirelist_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
